
<div class="form">
  <button mat-flat-button color="primary" (click)="back()">voltar</button>
  <form (ngSubmit)="updateIncident(incidents.data.id)" [formGroup]="formIncident" class="form">
    <mat-form-field>
      <input matInput placeholder="Titulo" name="title" required minlength="10" formControlName="title">
      <mat-error *ngIf="formIncident.controls.title.errors?.required">
        Por favor insira um titulo.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Descrição" formControlName="description" required></textarea>
      <mat-error *ngIf="formIncident.controls.description.errors?.required">
        Por favor insira uma descrição
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Criticidade" formControlName="criticality" required>
        <mat-option value="Alta">Alta</mat-option>
        <mat-option value="Média">Média</mat-option>
        <mat-option value="Baixa">Baixa</mat-option>
      </mat-select>
      <mat-error *ngIf="formIncident.controls.criticality.errors?.required">
        Por selecione uma criticidade.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Tipo" formControlName="type" name="type" required>
        <mat-option value="Ataque Brute Force">Ataque Brute Force</mat-option>
        <mat-option value="Credencias Vazadas">Credencias Vazadas</mat-option>
        <mat-option value="Ataque DDoS">Ataque DDoS</mat-option>
        <mat-option value="Ataque anormais de usuários">Ataque anormais de usuários</mat-option>
      </mat-select>
      <mat-error *ngIf="formIncident.controls.type.errors?.required">
        Por selecione um tipo.
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Status" formControlName="status" name="status">
        <mat-option value="Aberto">Aberto</mat-option>
        <mat-option value="Fechado">Fechado</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary">Atualizar</button>
  </form>
</div>
